<!DOCTYPE html>
<html>
<head>
<style>
  /css/
</style>
</head>
<body>
<!-- Start your code here -->
  <div class="invoice-header">
    <div class="number">Faktúra E38912</div>
    <div>
      <div>Dátum vystavenia: 23.8.2021</div>
      <div>Dátum dodania: 23.8.2021</div>
      <div>Dátum splatnosti: 23.8.2021</div>
      <div>Spôsob úhrady: Platobnou kartou</div>
    </div>
  </div>
  <div class="invoice-header">
    <div class="seller">
      <div class="info">
        <div class="header">Dodávateľ</div>
        <div>2day s.r.o</div>
        <div>Pri suchom mlyne</div>
        <div>90201 Pezinok</div>
        <div>Slovensko</div>
        <div>IČO: 19238912382</div>
        <div>DIČ: 19238912382</div>
        <div>IČ DPH: 19238912382</div>
       </div>
      <div class="logo">
          <img src="/image1/"/>
      </div>
    </div>
    <div class="number-and-buyer">
      <div class="buyer">
        <div class="billing">
          <div class="header">Odoberateľ</div>
            <div>2day s.r.o</div>
            <div>Pri suchom mlyne</div>
            <div>90201 Pezinok</div>
            <div>Slovensko</div>
            <div>IČO: 19238912382</div>
            <div>DIČ: 19238912382</div>
            <div>IČ DPH: 19238912382</div>
        </div>
        <div class="delivery">
          <div class="header">Dodacia adresa</div>
            <div>2day s.r.o</div>
            <div>Pri suchom mlyne</div>
            <div>90201 Pezinok</div>
            <div>Slovensko</div>
            <div>IČO: 19238912382</div>
            <div>DIČ: 19238912382</div>
            <div>IČ DPH: 19238912382</div>
        </div>
    </div>
  </div>
 </div>
  <div class="items">
    <div class="items-header">
      <div class="product-name">Meno produktu</div>
      <div>Mnozstvo</div>
      <div>Jedn. cena bez DPH pred zľavou</div>
      <div>Zľava</div>
      <div>Jedn. cena bez DPH po zľave</div>
      <div>Jedn. cena s DPH</div>
      <div>Celkovo</div>
    </div>
    <div class="items-cont">
       <div class="product-name">Vino skovajsa Pinot Blanc 2018</div>
        <div>2ks</div>
        <div>10€</div>
        <div>12€</div>
       <div>12€</div>
        <div>20%</div>
        <div>9.60€</div>
    </div>
        <div class="items-cont">
       <div class="product-name">Vino skovajsa Pinot Blanc 2018</div>
        <div>2ks</div>
        <div>10€</div>
        <div>12€</div>
       <div>12€</div>
        <div>20%</div>
        <div>9.60€</div>
    </div>
  </div>
  <div class="footer">
    <div class="note">
      <div>Poznamka:</div>
    </div>
    <div class="summary"> 
      <div class="vat">
       <div>
        <div>DPH</div>
        <div>Základ DPH</div>
        <div>Výška DPH</div>
        <div>Celkovo k uhrade</div>
      </div>
      <div>
        <div>20%</div>
        <div>10€</div>
        <div>2€</div>
        <div class="total">12€</div>
      </div>
     </div>
    </div>
  </div>

<!-- End your code here -->
</body>
</html>